

.container1{
    display: flex;
    height: 150px;
    width: 100%;

}

.rec1{
    height: 150px;
    width: 100%;
    background-color: orange;
    margin: 5px;
}

.container2{
    display: flex;
    height: 150px;
    width: 100%;
    
    
}

.rec2{
    
    background-color:orange;
    height: 150px;
    width: 100%;
    margin: 5px;
}

.container3{
    display: flex;
    height: 150px;
    width: 100%;
    
        

}

.rec3{
    
    background-color: orange;
    height: 150px;
    width: 100%;
    margin:5px;
}

.container4{
    display: flex;
    height: 150px;
    width: 100%;
    
        

}

.rec12{
    
    background-color: orange;
    height: 150px;
    width: 100%;
    margin:5px;
}